#header {
    background-color: #1f1815;
    background-image: url(https://www.bicycleservicecentre.co.uk/assets/css/images/overlay.png), url(https://www.bicycleservicecentre.co.uk/images/bg.jpg);
    background-repeat: repeat, no-repeat;
    background-size: auto, auto 100%;
    color: rgba(255, 255, 255, 0.5);
    height: 100%;
    left: 0;
    padding: 2em 2em 2em 2em;
    text-align: right;
    top: 0;
    width: 75%;
    border-radius: 25px;
    margin-bottom: 2em;
}

#main {
    max-width: 75%;
    padding: 2em 2em 2em 2em;
    background-color: #72a2ca;
    border-radius: 25px;
    margin-bottom: 2em;
}

#tech {
    max-width: 75%;
    padding: 2em 2em 2em 2em;
    background-color: #eff1ca;
    border-radius: 25px;
    margin-bottom: 2em;
}

#footr {
    max-width: 75%;
    padding: 2em 2em 2em 2em;
    background-color: #ddd;
    border-radius: 25px;
}

.image {
    border-radius: 0.35em;
    border: 0;
    display: inline-block;
    position: relative;
}

#header strong, #header b {
    color: #ffffff;
}

strong, b {
    color: #787878;
    font-weight: 400;
}

section p {
    font-size: 15px;
    text-align: left;
}

section li {
    font-size: 15px;
    text-align: left;
}

header h1 {
    font-size: 40px;
}

section h1 {
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
}

section h2 {
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 10px;
}

header img {
    border-radius: 50px;
    width: 300px;
}

img.logo {
    border-radius: 25px;
    width: 175px;
    height: 175px;
    vertical-align: middle;
}

.footer {
    font-size: 40px;
    text-align: center;
}

